// FIXME: Remove once normalize supports this
[vp-content] {
  ol ol {
    list-style-type: lower-roman;

    ol {
      list-style-type: lower-alpha;
    }
  }
}

.vp-nav-item {
  a {
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.vp-site-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.vp-hero-infos {
  #main-description {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
  }
}

.vp-hero-actions {
  .vp-hero-action {
    margin-inline-end: 3rem;
  }
}